<div class="well">
	<form {{action 'submit'}}>
		<div class="form-group">
			<label for="inputName">Name</label>
			<input type="email" class="form-control" id="inputName" placeholder="Name">
		</div>
		<div class="form-group">
			<label for="inputComment">Comment</label>
			<textarea class="form-control" id="inputComment" placeholder="Comment"/>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
