<h2>Sign up</h2>

<form {{action 'submit'}}>
  <div>
    <label for="user_name">Username</label>
    <div>
      {{input autofocus="autofocus" type="email" value=username id="user_email"}}
    </div>
  </div>

  <div class="field">
    <label for="user_password">Password</label>
    <em>(8 characters minimum)</em>
    <br />
    {{input autocomplete="off" type="password" value=password id="user_password"}}
  </div>

  <div class="field">
    <label for="user_password_confirmation">Password confirmation</label><br />
    {{input autocomplete="off" type="password" value=password_confirmation id="user_password_confirmation"}}
  </div>

  <div>
    <input type="submit" value="Sign up" />
  </div>
</form>
