<div class="blog-entry">
  {{#each sortedPosts as |post|}}
    {{#blog-post post=post}}
      {{post.body}}
    {{/blog-post}}
    {{comments-list comments=post.comments}}
    {{new-comment-box postid=post.id onSubmit=(action 'submitComment') isAuthenticated=session.isAuthenticated}}
  {{/each}}
</div>
